<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../files/favicon.ico">
  <link rel="stylesheet" href="../css/index.css">
  <meta name="robots" content="noindex">
  <title>Missing File</title>
  <meta charset="UTF-8">
</head>

<body>
  <main>
    <div class="container">
      <img src="https://images.unsplash.com/photo-1582845512747-e42001c95638" alt="Image of a rubber duck">
      <div class="text">
        <p class="warningMsg">Invalid file name.</p>
        <p class="warningMsg">Please only use English Alphabet characters, 0-9.</p>
        <p class="warningMsg">.jpg .jpeg .png .mp4 are the only supported file types </p>
        <p>Heres a duck instead</p>
      </div>
    </div>
  </main>
</body>

</html>