@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/Inter.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #dcdcdc;
  justify-content: center;
  align-items: center;
  color: #343434;
  height: 100vh;
  display: flex;
  width: 100vw;
}

img,
video {
  filter: drop-shadow(#00000080 16px 16px 18px);
  border-radius: 16px 16px 0 0;
  max-width: 75vw;
  height: auto;

}

.text {
  filter: drop-shadow(#00000080 16px 16px 18px);
  border-radius: 0 0 16px 16px;
  background-color: #bfb9b9;
  text-align: center;
  padding: 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #464646;
    color: #dcdcdc;
  }

  .text {
    background-color: #363636;
  }
}

.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip .tooltiptext {
  background-color: black;
  visibility: hidden;
  text-align: center;
  margin-left: -60px;
  border-radius: 6px;
  position: absolute;
  padding: 5px 0;
  color: #fff;
  bottom: 100%;
  width: 160px;
  z-index: 1;
  left: 50%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}